$color-orange: hsl(35, 77%, 62%);
$color-red: hsl(5, 85%, 63%);

$color-off-white: hsl(36, 100%, 99%);
$color-gray-blue-1: hsl(233, 8%, 79%);
$color-gray-blue-2: hsl(236, 13%, 42%);
$color-gray-blue-3: hsl(240, 100%, 5%);
